pre {
  margin: 0px auto !important;
}

img {
  border: none !important;
}

.reveal pre code {
  max-height: 408px;
}

img[alt="Java Logo"] {
  width: 40%;
  background: white !important;
}

img[alt="Objective-C Logo"] {
  width: 40%;
  background: white !important;
}

img[alt="Kotlin Logo"] {
  width: 20%;
  padding: 10px;
  background: white !important;
}

img[alt="Swift Logo"] {
  width: 20%;
  padding: 20px;
  background: white !important;
}

img[alt="Apache Cordova Logo"] {
  width: 45%;
  background: white !important;
}

img[alt="Ionic Framework Logo"] {
  width: 45%;
}

img[alt="UI List"] {
  width: 25%;
  padding: 8px;
  padding-top: 20px;
  background: white !important;

}

img[alt="UI List Hishlighted"] {
  width: 25%;
}

img[alt="Component Lifecycle"] {
  width: 80%;
}

img[alt="Babel Logo"] {
  width: 40%;
  background: white !important;
}

img[alt="React vs React Native"] {
  width: 50%;
}
